<template>
  <!-- @keydown.up.native.prevent="alert" -->
  <el-autocomplete
    ref="productQuery"
    :trigger-on-focus="false"
    class="search productQuery align-right"
    v-model="query"
    :fetch-suggestions="querySearchAsync"
    placeholder="بحث المنتجات بالاسم"
    @select="handleSelect"
  >
    <template slot-scope="{ item }">
      <div class="search-container">
        <div class="text-danger stock" style="color: green">
          {{
            (item.inventories[0].pivot.qty -
              item.inventories[0].pivot.hold_qty) /
            item.units_per_package
          }}
          {{ item.prices[0].unit }}
        </div>

        <div class="name" style="color: #031239">{{ item.name }}</div>

        <div
          v-if="item.prices.length > 1"
          class="text-danger"
          style="color: grey"
        >
          {{
            (item.inventories[0].pivot.qty -
              item.inventories[0].pivot.hold_qty) /
            item.units_per_package
          }}
          {{ item.prices[0].unit }}
        </div>

        <div
          class="text-danger"
          style="
            font-weight: bold;
            color: #031239;
            font-weight: bold;
            font-size: 15px;
          "
        >
          {{ item.inventories[0].pivot.buy_cost }}
        </div>
      </div>
    </template>
  </el-autocomplete>
</template>
<script>
import axiosApi from "@/plugins/axios.js";

export default {
  name: "SearchProducts",
  props: ["supplier"],

  data() {
    return {
      query: "",
    };
  },
  methods: {
    alert() {
      alert("ddddddddd");
    },
    querySearchAsync(queryString, cb) {
      if (this.supplier == null) {
        this.$notify.error({
          title: "حدث خطأ",
          message: `عفوا حدد المورد اولا`,
          duration: 1500,
        });
      document.querySelector(".productQuery input").value = "";

      document.querySelector(".supplierQuery input").focus();

      } else {
        return new Promise((resolve) => {
          if (queryString.length < 2) {
            return resolve([]);
          }
          axiosApi
            .get(
              `products/search-purchases?name=${queryString}&supplier=${this.supplier.id}`
            )
            .then((res) => {
              let hasStock = res.data.filter((product) => {
                if (
                  product.inventories.length > 0 &&
                  product.inventories[0].pivot.qty > 0
                ) {
                  return product;
                }
              });
              cb(hasStock);
            })
            .catch((e) => {
              console.log(e);
            });
        });
      }
    },
    handleSelect(item) {
      this.query = item.name;

      this.$emit("selectedProduct", {
        product: item,
      });
    },
  },
  mounted() {
    let newElement = document.createElement("div");
    newElement.classList.add("header");
    newElement.innerHTML = `<div class="head-price">
                                <h6>السعر</h6>
                            </div> 
                            <div class="head-qty"> 
                                <h6>اسم المنتج</h6>
                            </div> 
                            <div class="head-stock"> 
                                <h6>المخزون</h6>
                            </div>`;

    let element = this.$refs.productQuery.$el.childNodes[1];
    element.prepend(newElement);
  },
};
</script>
