<template>
  <el-container>
      <Aside />
       <el-main>
           <div class=" p-3">
             <el-row :gutter="10">
    <el-col :xl="6" :lg="6" :md="12" :sm="12">
          <div class="searchForm">
            <label for="search"></label>
            <el-input
            @change="getProducts"
            placeholder="بحث باسم المنتج"
            autofocus
              type="text"
              @focus="$event.target.select()"
              v-model="name"
            ></el-input>
              
          </div>
    </el-col>
    <el-col :xl="6" :lg="6" :md="12" :sm="12">

     <el-select :filterable="true" v-model="selectedCategory" clearable placeholder="بحث بالتصنيف" @change="getProducts">
    <el-option
      v-for="item in productCategories"
      :key="item.id"
      :label="item.name"
      :value="item.id">
    </el-option>
  </el-select>
    </el-col>
  
             </el-row>
        </div>
  <el-table
   
  align="right"
  v-if="tableData.length>0"
    :data="tableData"
    border
    style="width: 100%">
      <el-table-column
      label="#"
      type="index"
      width="50">
    </el-table-column>
     <el-table-column
     sortable
     width="80"
      label="الكود"
      prop="prices[0].code">
    </el-table-column>
     <el-table-column
      label="اسم المنتج"
      prop="name">
    </el-table-column>
     <el-table-column
      label="سعر البيع"
      prop="prices[0].sale_price">
      
    </el-table-column>
    <el-table-column
      label="التصنيف"
      prop="product_category.name">
    </el-table-column>
    <el-table-column
      label="الوحدات"
      prop="units_per_package">
    </el-table-column>
    <el-table-column
     sortable

      label="المخزون"
      prop="stock">
    </el-table-column>
   <el-table-column
      label="Operations"
      width="120">
      <template slot-scope="scope">
        <el-button
          @click.native.prevent="deleteRow(scope)"
          type="text"
          size="small">
          Remove
        </el-button>
      </template>
    </el-table-column>
     <!-- <el-table-column type="expand">
      <template slot-scope="props">
        <p>State: {{ props.row.name }}</p>
     
      </template>
    </el-table-column> -->
  </el-table>
       </el-main>
  </el-container>
</template>

<script>
import axiosApi from "@/plugins/axios.js";
import Aside from "@/components/aside.vue";

  export default {
      name:'Products',
      
  components: { Aside },

    data() {
      return {
        tableData: [],
        productCategories:[],
        name:"",
        selectedCategory:"",
        current_page:1,
        page_limit:1,
      }
    },
    created() {
        this.getProducts();
        this.getCategories();

    },
    methods: {
     deleteRow(product) {
       alert(product.row.name)
        // rows.splice(index, 1);
      },  
           getProducts() {
           const loading = this.$loading({
          lock: true,
          text: "جاري تحميل البيانات",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)",
        });
           let url =`products/filter?page=${this.current_page}`;
            if(this.name.trim()!=""){
                url+= '&name=' + this.name;
            }
            // if(this.searchCode.trim()!=""){
            //     url+= '&code=' + this.searchCode;
            // }
            if(this.selectedCategory!=""){
                url+= '&category_id=' + this.selectedCategory;
            }
             axiosApi.get(url) .then(res => {
                    this.tableData = res.data.data;
                    
                     this.tableData.map((product)=>{
                       product.stock= product.inventories[0].pivot.qty/product.units_per_package;
                    //    console.log( product.inventories[0].pivot.qty/product.units_per_package);
                    });
                   
                })
                .catch(e => {
                    console.log(e);
                   
                })
                .finally(() => {
                  loading.close();
                });
        },

          getCategories() {
             axiosApi.get('product-categories')
                .then(res => {
                    this.productCategories = res.data;
                  
                })
                .catch(error => console.log(error))
                .finally(() => {
                });
        },
    },
  }
</script>