<template>
  <el-row :gutter="10">
    <el-col :xl="19" :lg="19" :md="15" :sm="24"
      ><div class="bg-White p-3 mt-2">
        <div class="searchForm">
          <label for="search">اختر اسم المورد</label>
          <el-autocomplete
          :disabled="productsLength>0"
            class="search supplierQuery align-right mt-2"
            v-model="searchVal"
            :trigger-on-focus="false"
            :fetch-suggestions="querySearchAsync"
            @select="handleSelect"
          >
            <template slot-scope="{ item }">
              <div class="name">{{ item.name }}</div>
              <!-- <div class="zjName">{{ item.size }}</div> -->
            </template>
          </el-autocomplete>
        </div>
      </div>
    </el-col>
    <el-col v-if="supplier" :xl="5" :lg="5" :md="7" :sm="24"
      ><div class="bg-White result mt-2">
        <p><span class="num">{{numberToFixed(supplierAccount)}}</span> <br />
        <span v-if="supplierAccount>=0">دائن</span>
        <span v-else>  مدين</span>
        </p>
      </div></el-col
    >
  </el-row>
</template>
<script>
import axiosApi from "@/plugins/axios.js";

export default {
  
  name: "Searchsuppliers",
  props: ["productsLength","supplier"],

  data() {
    return {
      searchVal: this.supplier&&this.supplier.name,
      supplierAccount:0,
      selectedSupplier:this.supplier
    };
  },
  watch:{
    supplier(newValue){
      // alert("d")
  if(newValue!=null){
      this.getSupplierAccount(newValue);
        document.querySelector(".productQuery input").focus();
      document.querySelector(".supplierQuery input").value = newValue.name;


    }else{
      document.querySelector(".supplierQuery input").value = "";
      document.querySelector(".supplierQuery input").focus();

    }

    }

  },
  mounted() {
    if(this.productsLength==0){

      document.querySelector(".supplierQuery input").focus();
    }else{
        document.querySelector(".productQuery input").focus();
    }
    if(this.supplier!=null){
      this.getSupplierAccount(this.supplier);
    }  
  },
  methods: {
    querySearchAsync(queryString, cb) {
      return new Promise((resolve) => {
        if (queryString.length < 2) {
          return resolve([]);
        }
        axiosApi
          .get(`suppliers/search?query=${queryString}`)
          .then((res) => {
            cb(res.data);
          })
          .catch((e) => {
            console.log(e);
          });
      });
    },
    handleSelect(item) {
      this.searchVal = item.name;
      this.selectedSupplier= item;

      this.$emit("selectedSupplier", {
        supplier: item,
      });

      this.getSupplierAccount(item);

    }, 
      numberToFixed(number) {
      return Math.floor(number * 100) / 100;
    },
    getSupplierAccount(supplier) {
      if(this.selectedSupplier!=null){
 const loading = this.$loading({
          lock: true,
          text: "جاري تحميل البيانات",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)",
        });
        axiosApi
          .get(
            `suppliers-account/${
              supplier.id
            }`
          )
          .then((response) => {
            
                this.supplierAccount= response.data;
                
          })
          .catch((e) => {
            console.log(e);
            
          })
          .finally(() => {
            loading.close();
          });
      } 
    }
  },
};
</script>
