
.vs-sidebar-content {
    width: 100%;
    border-radius: 0px 0px 0px 0px;

    .vs-sidebar__item {
        opacity: 1;
    }

    .vs-sidebar__item__icon {
        min-width: 40px;



        .icon {
            min-width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #FACD16;
            font-size: 15px;
            opacity: 1;
            text-align: center;
            color: #8D7207;
            display: flex;
            align-items: center;
            justify-content: center;

            &.notification {
                &::after {
                    position: absolute;
                    right: 5px;
                    top: -1px;
                    border: 2px solid #F4F8FF;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    font-size: 10px;
                    content: "";
                    font-weight: 900;
                    padding: 0;
                    background: #E95664;
                }
            }

            &.lastItem {
                height: 36px;
                min-width: 18px;
                border-radius: 40%;
            }
        }

    }




    .vs-sidebar__logo {
        display: flex;
        justify-content: start;



        ul {
            list-style: none;
            display: flex;

            li {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: #FACD16;
                text-align: center;
                color: #8D7207;
                margin-left: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                // &:last-child {
                //     height: 36px;
                //     width: 16px;
                //     border-radius: 40%;
                // }

                &:first-child {
                    position: relative;

                    &::after {
                        position: absolute;
                        right: 0;
                        top: -3px;
                        border: 2px solid #F4F8FF;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        content: "";
                        font-weight: 900;
                        background: #E95664;
                    }
                }

            }
        }
    }

    button {

        &.back {
            display: flex;
            background: transparent;
            border: none;
            padding-right: 20px;
            font-family: 'Cairo', sans-serif;
            font-weight: 600;
            color: #011547;
            font-size: 22px;

            div {
                &.arrowIcon {
                    width: 26px;
                    height: 26px;
                    border: 1px solid #011547;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5px 13.5px 0;
                    font-size: 15px;
                }
            }
        }



    }

    .fatura {
        margin: 6px auto;


        .vs-sidebar__item {
            text-align: center;
            height: 67px;
            width: 229px;
            background: #D4E9F6;
            margin: 6px auto;
            border-radius: 4px;
            padding-right: 60px;

            .vs-sidebar__item__text {
                height: 26px;
                width: 114px;
                color: #121212;
                font-family: 'Cairo', sans-serif;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 26px;
                text-align: center;
                overflow: visible;
                padding: 0;

            }

            &.active {
                background: #FACD16;
                ;

                .vs-sidebar__item__text {
                    color: #00144A;
                }
            }

            &.first-child {
                margin-top: 15px;

            }

            &::after {
                width: 0;
            }

        }
    }

    .content {

        margin-top: 15px;

        .vs-sidebar__item {
            text-align: center;
            height: 94px;
            width: 110px;
            background: #D4E9F6;
            margin: 6px auto;
            border-radius: 4px;
            display: flex;


            &.bg-blue {
                background-color: #0143FB;
            }

            &.bg-blueLight {
                background-color: #00ABF2;
            }

            &.bg-purple {
                background-color: #A9A0D8;

            }

            &.bg-gray {
                background-color: #7B9EA8;
            }

            &.bg-pink {
                background-color: #E294D9;

            }

            &.bg-green {
                background-color: #17A2B8;
            }

            &.bg-greenLight {
                background-color: #BFD8BD;
            }

            &.bg-greenDark {
                background-color: #77BFA3;
            }

            .vs-sidebar__item__text {
                height: 49px;
                width: 37px;
                color: #FFFFFF;
                font-family: 'Cairo', sans-serif;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                text-align: center;
                overflow: visible;
                padding-right: 15px;
                display: flex;
                align-items: center;

            }

            &::after {
                width: 0;
            }
        }
    }


}