a {
    text-decoration: none;
}

.mt-4 {
    margin-top: 1.8rem;
}

.home {

    .el-container {

        @media screen and (max-width:800px) {
            display: block;
        }

        .el-col {
            float: right;
        }

        .el-aside {
            margin: 0 auto;

            .sidebar {}

            div {
                &.side {
                    display: flex;
                    margin-top: 1rem;
                    margin-bottom: 2rem;

                }

                img {
                    width: 60px;
                    height: 60px;
                    margin-left: 4rem;
                }

                ul {
                    list-style: none;
                    display: flex;


                    li {
                        &.icon {
                            width: 40px;
                            height: 40px;
                            background: #FACD16;
                            border-radius: 50%;

                            color: #8D7207;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            position: relative;
                            margin-right: 1.2rem;

                            .rotate {
                                transform: rotate(330deg);
                                font-size: 24px;



                            }

                            &.notification {
                                &::after {
                                    position: absolute;
                                    right: 0px;
                                    top: -2px;
                                    border: 2px solid #F4F8FF;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    font-size: 10px;
                                    content: "";
                                    font-weight: 900;
                                    padding: 0;
                                    background: #E95664;
                                }
                            }
                        }
                    }
                }
            }

            .card {
                width: 95%;
                height: 120px;
                margin-top: 0.5rem;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                font-family: Cairo;
                font-size: 24px;
                font-weight: 600;
                text-align: center;



                &.bg-blue {
                    background-color: #0143FB;
                }

                &.bg-blueLight {
                    background-color: #00ABF2;
                }

                &.bg-purple {
                    background-color: #A9A0D8;

                }

                &.bg-gray {
                    background-color: #7B9EA8;
                }

                &.bg-pink {
                    background-color: #E294D9;

                }

                &.bg-green {
                    background-color: #17A2B8;
                }

                &.bg-greenLight {
                    background-color: #BFD8BD;
                }

                &.bg-greenDark {
                    background-color: #77BFA3;
                }

            }


        }

        .el-tabs__nav-wrap::after {
            display: none;
        }

        .el-tabs__nav {
            white-space: nowrap;
            position: relative;
            transition: transform .3s;
            float: right;
            z-index: 2;




            .el-tabs__active-bar {
                height: 4px;
                background-color: #FACD16;
            }

            .el-tabs__item {
                width: 254px;
                position: relative;
                color: #011547;
                font-family: Cairo;
                font-size: 18px;
                font-weight: bold;
                float: left;
                padding-bottom: 3rem;

                &.is-active {
                    color: #011547;
                    position: relative;

                }
            }
        }

        .bg-white {
            background-color: #ffffff;
            height: 140px;
            border-radius: 4px;
            box-sizing: border-box;
            padding-right: 10px;


            .content {
                margin-top: 20px;
                padding-top: 10px;
            }



            p {
                &.text {
                    margin-top: 0;
                    opacity: 0.62;
                    color: #011547;
                    font-family: Cairo;
                    font-size: 18px;
                    display: block;

                }

                &.num {
                    color: #011547;
                    font-family: "Open Sans";
                    font-size: 32px;
                    font-weight: bold;
                    opacity: 1;
                    margin-bottom: 0;
                    display: block;
                }
            }
        }
    }
}