html {
    -webkit-font-smoothing: antialiased;

    --scrollbarBG: #ffff;
    --thumbBG: #011547;
}

body {
    background-color: #F4F8FF;
    padding: 0;


    
}
.search-container {
    display: flex;
    justify-content: space-between;
  
    .name {
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      padding: 0 5px;
      font-weight: bold;
    }
    .stock {
      width: 25%;
    }
  }
  
  .header {
    h6 {
      text-align: right;
      padding: 0;
      margin: 0;
  
      color: #cccccc;
      font-size: 15px;
      font-weight: 100;
    }
  
    &:hover {
      background: none !important;
    }
    display: flex;
  
    padding: 15px 14px 9px;
  
    .head-price {
    }
    .head-qty {
      width: 100%;
    }
    .head-stock {
      width: 25%;
    }
  }
  
  .el-autocomplete-suggestion.el-popper {
    width: 495px !important;
    left: 570px !important;
  
    .popper__arrow {
      right: 15px !important;
      left: auto !important;
    }
    .el-autocomplete-suggestion__wrap {
      padding: 0 !important;
    }
  }
.el-button--warning{
    background: #FACD16 !important;
    border-color: #FACD16 !important;
    color: black !important;
}
.el-button--warning.is-active, .el-button--warning:active {
    background: #FACD16 !important;
    border-color: #FACD16 !important;
    color: #FFF;
}
.el-button--warning:focus, .el-button--warning:hover {
    background: #FACD16 !important;
    border-color: #FACD16 !important;
    color: #FFF;
}
.el-input__suffix {
    left: 5px !important;
    right: 5px !important;
    text-align: left !important;
}
.el-message-box__message{
    float: right;
}
.el-message-box__title{
    float: right;
}
.el-message-box__container {
    margin-top: 10px;
}
    .el-message-box__input {
    direction: rtl;
}
.el-notification {

    z-index: 100000 !important;
}
.el-autocomplete-suggestion li{
    border-bottom: 1px solid #ddd;
    padding: 2px 15px !important;

}
.el-autocomplete-suggestion li.highlighted, .el-autocomplete-suggestion li:hover {
    background-color: #f7f7f7 !important;

}
.el-autocomplete-suggestion__list {
    margin: 0;
    direction: rtl;
    padding: 0;
    padding-right: 10px;
}

.vs-dialog-content {

    color: #011547;
    font-family: Cairo;
    font-size: 29px;
    font-weight: bold;
    text-align: center;



    .yes {
        background-color: #DC3545;
        border: none;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;


    }

    .no {
        background-color: #8DAC8B;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

}

.p-3 {
    padding: 1rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pl-5,
.px-5 {
    padding-left: 3rem !important;
}

.pr-5,
.px-5 {
    padding-right: 3rem !important;
}

.align-right {
    direction: rtl;
}

.el-main {


    .el-col {
        float: right;
    }

    .bg-White {
        background-color: #ffffff;
        height: 15vh;
        border-radius: 6px;
        box-sizing: border-box;


        &.result {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #011547;
            font-family: Cairo;
            font-size: 18px;

            p {
                text-align: center;

                span {
                    color: #011547;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 30px;
                    font-weight: bold;

                }
            }


        }

        .searchForm {
            .search {
                width: 100%;


            }

            label {
                color: #131458;
                font-family: Cairo;
                font-size: 14px;
                font-weight: 600;
            }

            .el-input__inner {
                border: 1px solid #E7E7ED;
                border-radius: 4px;
                background-color: #FFFFFF;
                box-shadow: 0 2px 4px 0 rgba(237, 237, 237, 0.5);

                &:focus {
                    border: 1px solid #E7E7ED;
                }
            }
        }
    }

    .table {
        background-color: #ffffff;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);


        &::-webkit-scrollbar {
            width: 8px;
            height: 5px;

        }

        &::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG);
            border-radius: 6px;
        }




        .el-table {
            width: 100%;

            @media screen and (max-width:800px) {
                width: 1200px;
                max-width: 1200px;

            }


        }

        .el-table__header,
        .el-table__body,
        .el-table__footer {
            width: 100%;

        }

        .el-table--scrollable-x .el-table__body-wrapper {
            overflow-x: auto;
        }

        .el-table--scrollable-y .el-table__body-wrapper {
            scrollbar-width: thin;
            scrollbar-color: var(--thumbBG) var(--scrollbarBG);


            &::-webkit-scrollbar {
                width: 8px;
                height: 5px;

            }

            &::-webkit-scrollbar-track {
                background: var(--scrollbarBG);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--thumbBG);
                border-radius: 6px;
            }



        }

        .el-table--border::after,
        .el-table--group::after,
        .el-table::before {
            background: none;
        }

        .el-table--border,
        .el-table--group {
            border: none;
        }

        thead {
            background-color: rgba(1, 21, 71, 0.05);

            th {
                background: rgba(1, 21, 71, 0.05);

                .cell {
                    color: #011547;
                    font-family: Cairo;
                    font-size: 12px;
                    font-weight: 600;
                    text-align: right;

                    &.center {
                        text-align: center;
                    }
                }
            }
        }

        .body {



            .noitems {

                width: 200px;

                p {

                    margin: 0 auto;
                    padding: 1rem;


                }
            }

            tr {



                td {
                    background-color: rgba(1, 21, 71, 0.03);



                    .cell {
                        text-align: right;
                        color: #011547;
                        font-family: Cairo;
                        font-size: 14px;
                        font-weight: bold;

                        .deleteicon {
                            height: 31.48px;
                            width: 32px;
                            border-radius: 6px;
                            background-color: #DC3545;
                            color: #FFFFFF;
                            text-align: center;
                            padding-top: 5px;
                        }


                        &.center {
                            text-align: center;
                        }

                        &.num {
                            color: #011547;
                            font-family: "Open Sans";
                            font-size: 18px;
                            font-weight: bold;
                        }

                        .searchInput {
                            border-radius: 6px;
                            background-color: rgba($color: #FFCC00, $alpha: 0.2);
                            height: 47px;
                            display: flex;
                            align-items: center;
                            text-align: center;

                            .el-input__inner {
                                border: 1px solid #011547;
                                border-radius: 4px;
                                background-color: #FFFFFF;
                                box-shadow: 0 2px 4px 0 rgba(237, 237, 237, 0.5);
                                width: 98%;

                                &::placeholder {
                                    color: #031239;
                                    font-family: Cairo;
                                    font-size: 14px;
                                    font-weight: bold;
                                }

                                &:focus {
                                    border: 1px solid #E7E7ED;
                                }
                            }
                        }

                        .el-select {
                            .el-input__inner {
                                border: 1px solid #E7E7ED;
                                border-radius: 4px;
                                background-color: #FFFFFF;
                                box-shadow: 0 2px 4px 0 rgba(237, 237, 237, 0.5);
                                color: #031239;
                                font-family: Cairo;
                                font-size: 14px;
                                font-weight: bold;


                                &::placeholder {
                                    color: #031239;
                                    font-family: Cairo;
                                    font-size: 14px;
                                    font-weight: bold;
                                }

                                &:focus {
                                    border: 1px solid #E7E7ED;
                                }
                            }
                        }

                        .el-input-number {
                            .el-input__inner {
                                width: 55%;
                                opacity: 0.36;
                                color: #031239;
                                font-family: Cairo;
                                font-size: 14px;
                                font-weight: 600;


                                &:focus {
                                    border: 1px solid #E7E7ED;
                                }

                            }
                        }
                    }
                }
            }


        }

        .footer {
            tr {
                td {
                    background-color: rgba(1, 21, 71, 0.03);

                    .cell {
                        text-align: right;

                        &.num {
                            font-family: "Open Sans";
                            font-size: 18px;
                            font-weight: bold;
                            color: #011547;
                        }

                        &.center {
                            text-align: center;
                            color: #011547;
                            font-family: "Open Sans";
                            font-size: 14px;
                            font-weight: bold;
                        }

                        .searchInput {
                            border-radius: 6px;
                            background-color: rgba($color: #FFCC00, $alpha: 0.2);
                            height: 47px;
                            display: flex;
                            align-items: center;
                            text-align: center;

                            .search {
                                width: 100%;
                            }

                            .el-input__inner {
                                border: 1px solid #011547;
                                border-radius: 4px;
                                background-color: #FFFFFF;
                                box-shadow: 0 2px 4px 0 rgba(237, 237, 237, 0.5);
                                width: 98%;

                                &::placeholder {
                                    opacity: 0.36;
                                    color: #031239;
                                    font-family: Cairo;
                                    font-size: 14px;
                                    font-weight: 600;
                                    text-align: right;
                                }

                                &:focus {
                                    border: 1px solid #E7E7ED;
                                }
                            }
                        }

                        .el-select {
                            .el-input__inner {
                                border: 1px solid #E7E7ED;
                                border-radius: 4px;
                                background-color: #FFFFFF;
                                box-shadow: 0 2px 4px 0 rgba(237, 237, 237, 0.5);

                                &::placeholder {
                                    opacity: 0.36;
                                    color: #031239;
                                    font-family: Cairo;
                                    font-size: 14px;
                                    font-weight: 600;
                                    text-align: right;
                                }

                                &:focus {
                                    border: 1px solid #E7E7ED;
                                }
                            }
                        }

                        .el-input-number {
                            .el-input__inner {
                                width: 55%;
                                opacity: 0.36;
                                color: #031239;
                                font-family: Cairo;
                                font-size: 14px;
                                font-weight: 600;


                                &:focus {
                                    border: 1px solid #E7E7ED;
                                }

                            }
                        }
                    }
                }
            }
        }




        .el-table--border td,
        .el-table--border th,
        .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
            border-right: none;
            border-bottom: 5px solid #ffffff
        }
    }

    .footer {
        .bg-White {
            display: flex;
            align-items: center;
            justify-content: center;

            .el-button {
                color: #FFFFFF;
                font-family: Cairo;
                font-size: 14px;
                font-weight: bold;
                border: none;

                &.exit {
                    background-color: #DC3545;
                }

                &.save {
                    background-color: #8DAC8B;
                }
            }


            height: 12vh;

            p {
                color: #011547;
                font-family: Cairo;
                font-size: 15px;

                span {
                    color: #011547;
                    font-family: "Open Sans";
                    font-size: 25px;
                    font-weight: bold;
                }
            }

            .el-input__inner {
                border: 1px solid #E7E7ED;
                border-radius: 4px;
                background-color: #FFFFFF;
                box-shadow: 0 2px 4px 0 rgba(237, 237, 237, 0.5);

                &::placeholder {
                    color: #031239;
                    font-family: Cairo;
                    font-size: 14px;
                    font-weight: 600;
                    opacity: 0.36;
                }

                &:focus {
                    border: 1px solid #E7E7ED;

                }
            }
        }
    }
}