<template>
  <div class="home">
    <el-container>
      <el-aside width="350px">
        <div class="sidebar">
          <div class="side">
            <img :src="require('../images/logo.png')" alt="logo" />
            <ul>
              <li class="icon notification">
                <i class="fas fa-bell rotate"></i>
              </li>
              <li class="icon notification">
                <i class="fas fa-shopping-cart"></i>
              </li>
              <li class="icon">
                <i class="fas fa-door-open"></i>
              </li>
            </ul>
          </div>
          <el-row>
            <el-col :span="12">
              <router-link target="_blank" to="/" class="card bg-blue"
                >تقارير</router-link
              ></el-col
            >
            <el-col :span="12">
              <router-link to="/dashboard" class="card bg-blueLight"
                >فواتير</router-link
              >
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <router-link to="/dashboard" class="card bg-purple">
                تحصيل <br />
                و سداد</router-link
              ></el-col
            >
            <el-col :span="12">
              <router-link to="/dashboard" class="card bg-gray">
                كشف <br />
                حساب</router-link
              >
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <router-link to="/dashboard" class="card bg-pink">
                حركة <br />
                منتجات</router-link
              ></el-col
            >
            <el-col :span="12">
              <router-link to="/dashboard" class="card bg-green"
                >مصاريف</router-link
              >
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <router-link to="/dashboard" class="card bg-greenLight"
                >تسليم <br />
                خزنة</router-link
              ></el-col
            >
            <el-col :span="12">
              <router-link to="/dashboard" class="card bg-greenDark"
                >إضافه</router-link
              >
            </el-col>
          </el-row>
        </div>
      </el-aside>
      <el-main>
        <el-tabs v-model="activeName">
          <el-tab-pane label="يومية الفرع" name="second">
            <el-row :gutter="20" class="mt-4">
              <el-col :span="8" v-for="(item, index) in data" :key="index"
                ><div class="bg-white" data-aos="fade-up">
                  <div class="content">
                    <p class="num">{{ item.number }}</p>
                    <p class="text">{{ item.text }}</p>
                  </div>
                </div></el-col
              >
            </el-row></el-tab-pane
          >
          <el-tab-pane label="يومية الكاشير" name="first">
            <el-row :gutter="20" class="mt-4">
              <el-col :span="8" v-for="(item, index) in data" :key="index"
                ><div class="bg-white" data-aos="fade-up">
                  <div class="content">
                    <p class="num">{{ item.number }}</p>
                    <p class="text">{{ item.text }}</p>
                  </div>
                </div></el-col
              >
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "Home",
  data: () => ({
    activeName: "first",
    data: [
      {
        number: 124.971,
        text: "المرتجعات",
      },

      {
        number: 0.0,
        text: "المبيعات الأجلة",
      },
      {
        number: 1.029,
        text: "المصروفات لليوم",
      },
      {
        number: 7.608,
        text: "مبيعات الكاش",
      },
      {
        number: 124.971,
        text: "المرتجعات",
      },

      {
        number: 124.971,
        text: "المرتجعات",
      },
      {
        number: 124.971,
        text: "المرتجعات",
      },
      {
        number: 124.971,
        text: "المرتجعات",
      },
    ],
  }),
  methods: {},
};
</script>
<style lang="sass" >
@import "../styles/home.scss"
</style>
