<template>
  <div class="dashboard">
    <el-container>
      <Aside />
      <el-main>
        <div style="margin-top: -11px">
          <el-button
            plain
            @click="setSelectedInvoice(index)"
            style="margin-right: 5px"
            v-for="(invoice, index) in purchases"
            :key="index"
            :type="selectedIndex == index ? 'warning' : 'success'"
          >
            {{ index + 1 }}
          </el-button>
          <el-button
            plain
            type="primary"
            style="margin-right: 5px"
            @click="addNewInvoice"
          >
            <i class="fas fa-plus"></i>
          </el-button>
        </div>
        <SearchSuppliers
          :supplier="purchases[selectedIndex].supplier"
          @selectedSupplier="selectedSupplier"
          :productsLength="purchases[selectedIndex].products.length"
        />
        <el-row class="table mt-2 px-3">
          <div
            class="el-table el-table--fit el-table--border el-table--scrollable-y el-table--enable-row-hover el-table--enable-row-transition"
            style="margin-top: 20px; height: 59vh"
          >
            <div class="el-table__header-wrapper">
              <table
                cellspacing="0"
                cellpadding="0"
                border="0"
                class="el-table__header"
                style="width: 100%"
              >
                <colgroup>
                  <col name="el-table_3_column_11" width="4%" />
                  <col name="el-table_3_column_12" width="30%" />
                  <col name="el-table_3_column_14" width="10%" />
                  <col name="el-table_3_column_15" width="10%" />
                  <col name="el-table_3_column_16" width="7%" />
                  <col name="el-table_3_column_17" width="7%" />
                  <col name="el-table_3_column_18" width="10%" />
                  <col name="el-table_3_column_19" width="10%" />
                </colgroup>
                <thead class="has-gutter">
                  <tr class="">
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_11 is-leaf"
                    >
                      <div class="cell">#</div>
                    </th>
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_12 is-leaf"
                    >
                      <div class="cell">المنتج</div>
                    </th>
                    <!-- <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_13 is-leaf"
                    >
                      <div class="cell">الوحدة</div>
                    </th> -->
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_14 is-leaf"
                    >
                      <div class="cell">الكمية</div>
                    </th>
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_15 is-leaf"
                    >
                      <div class="cell">سعر الشراء</div>
                    </th>

                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_16 is-leaf"
                    >
                      <div class="cell center">أخر سعر</div>
                    </th>
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_17 is-leaf"
                    >
                      <div class="cell center">الإجمالي</div>
                    </th>
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_15 is-leaf"
                    >
                      <div class="cell">سعر البيع</div>
                    </th>
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_18 is-leaf"
                    >
                      <div class="cell center">المتاح</div>
                    </th>
                    <th
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_19 is-leaf"
                    >
                      <div class="cell"></div>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <!-- id="scrollToMe" -->
            <div
              class="el-table__body-wrapper"
              style="height: auto; max-height: 45vh"
              ref="products_table"


            >
              <table
                cellspacing="0"
                cellpadding="0"
                border="0"
                class="el-table__body"
                style="width: 100%"
              >
                <colgroup>
                  <col name="el-table_3_column_11" width="4%" />
                  <col name="el-table_3_column_12" width="30%" />
                  <col name="el-table_3_column_14" width="10%" />
                  <col name="el-table_3_column_15" width="10%" />
                  <col name="el-table_3_column_16" width="7%" />
                  <col name="el-table_3_column_17" width="7%" />
                  <col name="el-table_3_column_18" width="10%" />
                  <col name="el-table_3_column_19" width="10%" />
                </colgroup>
                <!-- id="order" -->
                <tbody class="body">
                  <tr
                    class="el-table__row"
                    v-for="(item, index) in purchases[selectedIndex].products"
                    :key="index"
                  >
                    <td rowspan="1" colspan="1" class="el-table_3_column_11">
                      <div class="cell num">{{ index + 1 }}</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_3_column_12">
                      <div class="cell">{{ item.name }}</div>
                    </td>

                    <td rowspan="1" colspan="1" class="el-table_3_column_14">
                      <div class="cell">
                        <el-input-number
                          @change="calcTotal"
                          @focus="$event.target.select()"
                          v-model="item.qty"
                          controls-position="right"
                        ></el-input-number>
                      </div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_3_column_15">
                      <div class="cell">
                        <el-input-number
                          @change="calcTotal"
                          @focus="$event.target.select()"
                          v-model="item.buy_cost"
                          controls-position="right"
                        ></el-input-number>
                      </div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_3_column_16">
                      <div class="cell center">
                        {{ numberToFixed(item.lastPurchaseCost) }}
                      </div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_3_column_17">
                      <div class="cell center">
                        {{ numberToFixed(item.buy_cost * item.qty) }}
                      </div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_3_column_15">
                      <div class="cell">
                        <el-input-number
                          @change="setLocalStorage"
                          @focus="$event.target.select()"
                          v-model="item.sale_price"
                          controls-position="right"
                        ></el-input-number>
                      </div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_3_column_18">
                      <div class="cell center">{{ item.stock }}</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_3_column_19">
                      <div class="cell">
                        <div
                          class="deleteicon"
                          @click="activeDelete = !activeDelete"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </div>
                        <div class="center">
                          <vs-dialog v-model="activeDelete">
                            <p class="text-delete">هل انت متاكد ؟</p>

                            <el-row :gutter="20">
                              <el-col :span="12">
                                <el-button
                                  class="no"
                                  @click="activeDelete = !activeDelete"
                                >
                                  لا</el-button
                                >
                              </el-col>
                              <el-col :span="12">
                                <el-button
                                  class="yes"
                                  @click="
                                    deleteItem(item, index),
                                      (activeDelete = !activeDelete)
                                  "
                                  >نعم</el-button
                                >
                              </el-col>
                            </el-row>
                          </vs-dialog>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <a id="goToBottom" href="#scrollToMe"></a>
              <div id="scrollToMe"></div>
            </div>
            <div class="el-table__footer-wrapper">
              <table
                cellspacing="0"
                cellpadding="0"
                border="0"
                class="el-table__footer"
                style="width: 100%"
              >
                <colgroup>
                  <col name="el-table_3_column_11" width="4%" />
                  <col name="el-table_3_column_12" width="30%" />
                  <col name="el-table_3_column_14" width="10%" />
                  <col name="el-table_3_column_15" width="10%" />
                  <col name="el-table_3_column_16" width="7%" />
                  <col name="el-table_3_column_17" width="7%" />
                  <col name="el-table_3_column_18" width="10%" />
                  <col name="el-table_3_column_19" width="10%" />
                </colgroup>
                <tbody class="has-gutter footer">
                  <tr>
                    <!-- <td
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_11 is-leaf"
                    >
                      <div class="cell num">{{ ind + 1 }}</div>
                    </td> -->
                    <td
                      colspan="2"
                      rowspan="1"
                      class="el-table_3_column_12 is-leaf"
                    >
                      <div class="cell">
                        <!-- value-key="name" -->
                        <div class="searchInput">
                          <SearchProducts
                            :supplier="supplier"
                            @selectedProduct="selectedProduct"
                          />
                        </div>
                      </div>
                    </td>

                    <td
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_14 is-leaf"
                    >
                      <div class="cell qty">
                        <el-input
                          type="text"
                          ref="qty"
                          @focus="$event.target.select()"
                          @keyup.enter.native="setPriceFocus"
                          v-model="qty"
                          controls-position="right"
                        ></el-input>
                      </div>
                    </td>
                    <td
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_15 is-leaf"
                    >
                      <div class="cell buy_cost">
                        <el-input
                          type="text"
                          ref="buy_cost"
                          v-model="buy_cost"
                          @focus="$event.target.select()"
                          @keyup.enter.native="setSalePriceFocus"
                          controls-position="right"
                        ></el-input>
                      </div>
                    </td>
                    <td
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_16 is-leaf"
                    >
                      <div class="cell center">
                        {{ selectedProductlastBuyCost }}
                      </div>
                    </td>
                    <td
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_17 is-leaf"
                    >
                      <div class="cell center" v-if="qty * buy_cost > 0">
                        {{ qty * buy_cost }}
                      </div>
                      <div class="cell center" v-else>-</div>
                    </td>
                    <td
                      colspan="1"
                      rowspan="1"
                      class="el-table_3_column_15 is-leaf"
                    >
                      <div class="cell sale_price">
                        <el-input
                          type="text"
                          ref="sale_price"
                          v-model="sale_price"
                          @focus="$event.target.select()"
                          @keyup.enter.native="addNewItem"
                          controls-position="right"
                        ></el-input>
                      </div>
                    </td>
                    <td
                      colspan="2"
                      rowspan="1"
                      class="el-table_3_column_18 is-leaf"
                    >
                      <div class="cell center">{{ selectedProductStock }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </el-row>
        <el-row
          :gutter="10"
          class="footer"
          v-if="purchases[selectedIndex].products.length > 0"
        >
          <el-col :xl="8" :lg="8" :md="18" :sm="24"
            ><div class="bg-White alignment px-3 mt-2">
              <el-row :gutter="5">
                <el-col :span="8"
                  ><el-input placeholder="قيمه الخصم" align="middle"></el-input>
                </el-col>
                <el-col :span="16"
                  ><el-input placeholder="الخصم بالنسبة المئوية"></el-input>
                </el-col>
              </el-row>
            </div>
          </el-col>
          <el-col :xl="4" :lg="4" :md="18" :sm="24"
            ><div class="bg-White alignment p-3 mt-2">
              <p>
                الكميه
                <span class="num">{{
                  purchases[selectedIndex].total_qty
                }}</span>
              </p>
            </div>
          </el-col>
          <el-col :xl="12" :lg="12" :md="6" :sm="24"
            ><div class="bg-White alignment mt-2">
              <p class="px-3">
                اجمالي الفاتوره
                <span>{{
                  numberToFixed(purchases[selectedIndex].total_buy_cost)
                }}</span>
              </p>
              <el-button class="save" :disabled="disabled" :loading="isLoading" @click="addReturnedPurchase"
                >حفظ الفاتوره</el-button
              >
              <el-button class="exit mr-3" @click="removeSelectedOrder"
                >الغاء</el-button
              >
            </div>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import Aside from "@/components/aside.vue";
import SearchSuppliers from "@/components/Suppliers/Search";
import SearchProducts from "@/components/Products/SearchWithLastBuyPrice";
import axiosApi from "@/plugins/axios.js";

export default {
  components: { Aside, SearchSuppliers, SearchProducts },
  name: "Dashboard",
  data: () => ({
    disabled: false,
    isLoading: false,
    supplier: null,
    product: null,
    productUnits: [],
    selectedUnit: null,
    sale_price: "",
    buy_cost: "",
    min_price: "",
    qty: "",
    active: "returned_purchases",

    timeout: null,
    selectedProductlastBuyCost: "-",
    selectedProductStock: "",
    value: "",
    num: 1,
    ind: 0,

    activeDelete: false,

    selectedIndex: 0,
    showPrice: false,
    purchases: [
      {
        inventory_id: 1,
        // createdAt: this.$moment().locale("en").format().substring(0, 16),
        // createdBy: JSON.parse(Cookies.get("current_user")).user.name,

        // donne_at: this.$moment().locale("en").format("YYYY-MM-DD"),
        // inventory_id: JSON.parse(Cookies.get("current_user")).inventories[0]
        //   .id,
        paied: 0,
        VAT: 0,
        supplier: null,

        total_cost: 0,
        total_buy_cost: 0,
        total_sale_cost: 0,
        total_qty: 0,
        total_discount: 0,
        percentage_discount: 0,

        products: [],
      },
    ],
  }),
  created() {
    if (localStorage.getItem("returned_purchases")) {
      let sale_data = localStorage.getItem("returned_purchases");

      this.purchases = JSON.parse(sale_data);
      // this.checkOrderStock();
      this.supplier = this.purchases[this.selectedIndex].supplier;

      // if (this.purchases[this.selectedIndex].supplier != null) {
      //   this.getsupplierAccount();
      // } else {
      //   this.supplier = null;
      //   this.purchases[this.selectedIndex].supplier = null;
      // }
      this.calcTotal();
    }
  },
  methods: {
    alert() {
      alert("price clicked");
    },
    removeSelectedOrder() {
      this.$confirm("هل تريد إلغاء الفاتورة ؟", "تحذير", {
        confirmButtonText: "موافق",
        cancelButtonText: "رفض",
        type: "warning",
        center: true,
      })
        .then(() => {
          this.resetInvoiceData();

          this.$message({
            type: "success",
            message: "تم المسح بنجاح",
          });
        })
        .catch(() => {
          // this.$message({
          //   type: 'info',
          //   message: 'تم إلغاء'
          // });
        });
    },
    setSelectedInvoice(index) {
      this.selectedIndex = index;
      this.supplier = this.purchases[index].supplier;
      if (this.purchases[index].supplier != null) {
        document.querySelector(".productQuery input").focus();
      } else {
        document.querySelector(".supplierQuery input").value = "";
        document.querySelector(".supplierQuery input").focus();
      }
    },
    addNewInvoice() {
      this.purchases.push({
        inventory_id: 1,
        supplier: null,
        paied: 0,
        VAT: 0,
        total_cost: 0,
        total_qty: 0,
        total_discount: 0,
        percentage_discount: 0,
        products: [],
      });
      this.selectedIndex = this.purchases.length - 1;
    },
    setPriceFocus() {
      document.querySelector(".buy_cost input").focus();
    },
    setSalePriceFocus() {
      document.querySelector(".sale_price input").focus();
    },
    selectedSupplier(e) {
      this.supplier = e.supplier;
      this.purchases[this.selectedIndex].supplier = e.supplier;
      this.setLocalStorage();
      document.querySelector(".productQuery input").focus();
      // this.getsupplierAccount();
    },

    selectedProduct(e) {
      this.product = e.product;
      this.buy_cost =
        this.product.inventories.length > 0 &&
        this.product.inventories[0].pivot.buy_cost;

      this.sale_price =
        this.product.prices.length > 0 && this.product.prices[0].sale_price;

          if(e.product.lastPurchase!=null){

            this.selectedProductlastBuyCost =
          e.product.lastPurchase.buy_cost;
          }else{
            this.selectedProductlastBuyCost ="-"

          }

           this.selectedProductStock =
       ( e.product.inventories[0].pivot.qty - e.product.inventories[0].pivot.hold_qty ) / this.product.units_per_package + " " + e.product.prices[0].unit;
      setTimeout(() => {
        document.querySelector(".qty input").focus();
      }, 200);

      // this.$refs.productSearch.focus();
    },
    addNewItem() {
      if (this.product != null) {
        if (this.qty > 0) {
          let id = this.product.id;

          var product = this.purchases[this.selectedIndex].products.filter(
            function (elem) {
              if (elem.id == id) return elem;
            }
          );
 let qty = 0;
            let stock = 0;
            if (this.product.inventories.length > 0) {
              qty = this.product.inventories[0].pivot.qty -this.product.inventories[0].pivot.hold_qty;
              stock = Number(qty / this.product.units_per_package);
            }
          if (product.length > 0) {
            if(Number(product[0].qty) + Number(this.qty)<= stock){
            // this.search = "";

            // loader.hide();
            // console.log(product);
            this.purchases[this.selectedIndex].products.splice(
              this.purchases[this.selectedIndex].products.findIndex(
                (e) => e.id == id
              ),
              1
            );

            this.purchases[this.selectedIndex].products.push({
              id: product[0].id,
              name: product[0].name,

              buy_cost: this.buy_cost,
              units_per_package: product[0].units_per_package,
              unit_type: product[0].unit_type,
              unit: product[0].unit,
              sale_price: this.sale_price,
              stock: product[0].stock,
              lastPurchaseCost: product[0].lastPurchaseCost,
              qty: Number(product[0].qty) + Number(this.qty),
            });

            this.clearProduct();
            this.calcTotal();

            this.setLocalStorage();
            }else{
this.$notify.error({
                  title: "حدث خطأ",
                  message: `عفوا المخزن المتاح فقط ${stock} ${this.product.prices[0].unit}`,
                  duration: 1500,
                });
            }
          } else {
            if(Number(this.qty)<= stock){
           
            this.purchases[this.selectedIndex].products.push({
              id: this.product.id,
              name: this.product.name,
              buy_cost: this.buy_cost,
              unit:
                this.product.prices.length > 0 && this.product.prices[0].unit,
              sale_price: this.sale_price,
              // this.product.prices.length > 0 && this.product.prices[0].sale_price,
              unit_type:
                this.product.prices.length > 0 && this.product.prices[0].type,
              units_per_package: this.product.units_per_package,
              stock: stock,
              lastPurchaseCost:
                this.product.lastPurchase && this.product.lastPurchase.buy_cost,
              qty: Number(this.qty),
            });
            this.setLocalStorage();
            this.calcTotal();

            this.clearProduct();
          }
      else{
         this.$notify.error({
                  title: "حدث خطأ",
                  message: `عفوا المخزن المتاح فقط ${stock} ${this.product.prices[0].unit}`,
                  duration: 1500,
                });
      }
          }}
      }
      this.scrollToEnd();
    },
    addReturnedPurchase() {
      if (this.purchases[this.selectedIndex].products.length > 0) {
        this.isLoading = true;
        const loading = this.$loading({
          lock: true,
          text: "جاري تحميل البيانات",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)",
        });
        axiosApi
          .post("purchases/return", this.purchases[this.selectedIndex])
          .then((response) => {
            this.invoice_details = response.data.invoice_details;
            localStorage.setItem(
              "returned_purchase_invoice",
              JSON.stringify(response.data.invoice_details)
            );

            this.resetInvoiceData();
            this.$notify({
              title: "تمت العملية بنجاح",
              message: "تم حفظ بيانات الفاتورة بنجاح",
              type: "success",
              duration: 1500,
            });
          })
          .catch(() => {
            this.$notify.error({
              title: "حدث خطأ",
              message: "عفوا تأكد من بيانات الفاتورة",
              duration: 1500,
            });
          })
          .finally(() => {
            loading.close();
            this.isLoading = false;
          });
      }
    },
    calcTotal() {
      let factory_cost = 0;
      var qty = 0;
      let buy = 0;
      for (
        var i = 0;
        i < this.purchases[this.selectedIndex].products.length;
        i++
      ) {
        if (this.purchases[this.selectedIndex].products[i].qty == "") {
          this.purchases[this.selectedIndex].products[i].qty = 1;
        }
        buy =
          this.purchases[this.selectedIndex].products[i].qty *
          this.purchases[this.selectedIndex].products[i].buy_cost;
        factory_cost = factory_cost + buy;
        qty = qty + Number(this.purchases[this.selectedIndex].products[i].qty);
      }
      this.checkQty();
      this.purchases[this.selectedIndex].total_buy_cost = Number(factory_cost);
      this.purchases[this.selectedIndex].total_qty = Number(qty);

      this.setLocalStorage();
    },
    checkQty() {
      for (
        var i = 0;
        i < this.purchases[this.selectedIndex].products.length;
        i++
      ) {
        if (Number(this.purchases[this.selectedIndex].products[i].qty) == 0) {
          this.disabled = true;
          return 1;
        } else {
          this.disabled = false;
        }

        if (
          Number(this.purchases[this.selectedIndex].products[i].qty) >
          Number(this.purchases[this.selectedIndex].products[i].stock)
        ) {
          this.disabled = true;
          return 1;
        } else {
          this.disabled = false;
        }

        if (this.purchases[this.selectedIndex].products[i].qty == "") {
          this.purchases[this.selectedIndex].products[i].qty = 1;
        }
      }
    },
    setLocalStorage() {
      localStorage.setItem("returned_purchases", JSON.stringify(this.purchases));
    },
    clearProduct() {
      this.qty = "";
      this.selectedProductStock = "";
      this.selectedProductlastBuyCost = "-";
      this.sale_price = "";
      this.product = null;
      this.selectedUnit = null;
      this.productUnits = [];
      //  this.$refs.productQuery.value = ''
      setTimeout(() => {
        document.querySelector(".productQuery input").value = "";
        document.querySelector(".productQuery input").focus();
      }, 100);
    },
    resetInvoiceData() {
      // this.products = null;
      this.supplier = null;

      if (this.purchases.length > 1) {
        this.purchases.splice(this.selectedIndex, 1);
        this.selectedIndex = 0;
      } else {
        this.purchases[this.selectedIndex].products = [];
        // this.purchases[this.selectedIndex].donne_at = this.$moment()
        //   .locale("en")
        //   .format("YYYY-MM-DD");

        this.purchases[this.selectedIndex].supplier = null;

        this.purchases[this.selectedIndex].total_cost = 0;
        this.purchases[this.selectedIndex].paied = 0;
        this.purchases[this.selectedIndex].total_buy_cost = 0;
        this.purchases[this.selectedIndex].total_sale_cost = 0;
        this.purchases[this.selectedIndex].total_qty = 0;
        this.purchases[this.selectedIndex].total_discount = 0;
        this.purchases[this.selectedIndex].percentage_discount = 0;
        this.selectedIndex = 0;
      }
      setTimeout(() => {
        document.querySelector(".supplierQuery input").value = "";
        document.querySelector(".supplierQuery input").focus();
      }, 100);
      localStorage.setItem("returned_purchases", JSON.stringify(this.purchases));
    },
    numberToFixed(number) {
      return Math.floor(number * 100) / 100;
    },
    deleteItem(product, index) {
      // alert(index);

      this.purchases[this.selectedIndex].products.splice(index, 1);
      this.calcTotal();
    },

   scrollToEnd() {
      setTimeout(() => {
          let elementToScrollDown = this.$refs.products_table
      elementToScrollDown.scrollTop =  elementToScrollDown.scrollHeight;

      }, 300);
      console.log("scrollToEnd")
     
      // this.$el.querySelector("#goToBottom").click();
    },
  },
 
   mounted() {
      this.scrollToEnd();
    
  },
};
</script>
<style lang="sass" >
@import "../../styles/main.scss"
</style>

<style scoped>
#scrollToMe {
  overflow-y: scroll;
}
</style>
