<template>
  <el-row :gutter="10">
    <el-col :xl="19" :lg="19" :md="15" :sm="24"
      >
      <div class="bg-White p-3 mt-2">
        <div class="searchForm">
          <label for="search">اختر اسم العميل</label>
          <el-autocomplete
          :disabled="productsLength>0"
            class="search customerQuery align-right mt-2"
            v-model="searchVal"
            :trigger-on-focus="false"
            :fetch-suggestions="querySearchAsync"
            @select="handleSelect"
              @keyup.enter.native="handleSearchEnter"
            
          >
            <template slot-scope="{ item }">
              <div class="name">{{ item.name }}</div>
              <!-- <div class="zjName">{{ item.size }}</div> -->
            </template>
          </el-autocomplete>
        </div>
      </div>
    </el-col>
    <el-col v-if="customer" :xl="5" :lg="5" :md="7" :sm="24"
      ><div class="bg-White result mt-2">
        <p><span class="num">{{numberToFixed(customerAccount)}}</span> <br />
        <span v-if="customerAccount>=0">مدين</span>
        <span v-else>دائن</span>
        </p>
      </div></el-col
    >
    <!-- <el-col v-if="customer" :xl="4" :lg="4" :md="6" :sm="24">
      
        <el-button
        style="width:100%"
        class="mt-2"
            plain
            type="primary"
            @click="open"
          >
            تحصيل
          </el-button>
  
           <el-button
          v-if="selectedCustomer.supplier_id>0"
        style="width:100%"
        class="mt-2"

            plain
            type="warning"
          >
           سداد
          </el-button>
      </el-col
    > -->
            <!-- @click="addNewInvoice" -->
  </el-row>
</template>
<script>
import axiosApi from "@/plugins/axios.js";

export default {
  
  name: "SearchCustomers",
  props: ["productsLength","customer","productSearch"],

  data() {
    return {
      searchVal: this.customer&&this.customer.name,
      customerAccount:0,
      selectedCustomer:this.customer
    };
  },
  watch:{
    customer(newValue){
      // alert("d")
     
  if(newValue!=null){
      this.getCustomerAccount(newValue);
      if(this.productSearch){

        document.querySelector(".productQuery input").focus();
      }
      document.querySelector(".customerQuery input").value = newValue.name;


    }else{
      document.querySelector(".customerQuery input").value = "";
      document.querySelector(".customerQuery input").focus();

    }

    }

  },
  mounted() {
    if(this.productsLength==0){

      document.querySelector(".customerQuery input").focus();
    }else{
          if(this.productSearch){

        document.querySelector(".productQuery input").focus();
      }
    }
    if(this.customer!=null){
      this.getCustomerAccount(this.customer);
    }  
  },
  methods: {
    alert(){
      alert("d")

    },
    querySearchAsync(queryString, cb) {
      return new Promise((resolve) => {
        if (queryString.length < 2) {
          return resolve([]);
        }
        axiosApi
          .get(`customers/search?query=${queryString}`)
          .then((res) => {
            cb(res.data);
          })
          .catch((e) => {
            console.log(e);
          });
      });
    },
    handleSelect(item) {
      this.searchVal = item.name;
      this.selectedCustomer= item;

      this.$emit("selectedCustomer", {
        customer: item,
      });

      this.getCustomerAccount(item);

    }, 
    handleSearchEnter(){
       this.$emit("selectedCustomer", {
        customer: this.selectedCustomer,
      });
    },
      open() {
        this.$prompt('حدد المبلغ', 'تحصيل من العملاء', {
          confirmButtonText: 'تحصيل',
          cancelButtonText: 'إلغاء',
          showClose:false,
          customClass:'float-right',
          inputErrorMessage: 'مبلغ غير صحيح'
        })
        .then(({ value }) => {
          if(value>0){
           axiosApi
          .post("customers/pay", {
            'paied':value,
            'customer':this.selectedCustomer,
            'inventory_id':1
          })
          .then((res) => {


                            this.customerAccount= res.data;

             this.$notify({
              title: "تمت العملية بنجاح",
              message: "تم حفظ عملية التحصيل بنجاح",
              type: "success",
              duration: 1500,
            });
          })
          .catch(() => {
             this.$notify({
              title: "حدث خطأ",
              message: "عفوا لم تتم العملية ",
              type: "error",
              duration: 1500,
            });
          });
          }else{
            this.open();
             this.$notify({
              title: "حدث خطأ",
              message: "عفوا المبلغ غير صحيح ",
              type: "error",
              duration: 1500,
            });
          }
        }).catch(() => {
            
        });
      },
      numberToFixed(number) {
      return Math.floor(number * 100) / 100;
    },
    getCustomerAccount(customer) {
      // customer-products/
      if(this.selectedCustomer!=null){
 const loading = this.$loading({
          lock: true,
          text: "جاري تحميل البيانات",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)",
        });
        axiosApi
          .get(
            `customers-account/${
              customer.id
            }`
          )
          .then((response) => {
            
                this.customerAccount= response.data;
                
          })
          .catch((e) => {
            console.log(e);
            
          })
          .finally(() => {
            loading.close();
          });
      } 
    }
  },
};
</script>
