<template>
  <el-aside :style="activeSidebar ? { width: '250px' } : { width: '40px' }">
    <vs-sidebar reduce right :open="!activeSidebar" style="border-radius: 0px">
      <template #logo>
        <img
          :src="require('../images/logo.png')"
          alt="logo"
          style="max-height: 60px"
          @click="activeSidebar = !activeSidebar"
        />
      </template>
      <vs-sidebar-item>
        <template #icon
          ><div class="icon notification">
            <i class="fas fa-shopping-cart"></i>
          </div>
        </template>
      </vs-sidebar-item>
      <vs-sidebar-item>
        <template #icon
          ><div class="icon"><i class="el-icon-lock"></i></div>
        </template>
      </vs-sidebar-item>
      <vs-sidebar-item>
        <template #icon
          ><div class="icon lastItem"><i class="fas fa-ellipsis-v"></i></div
        ></template>
      </vs-sidebar-item>
    </vs-sidebar>
    <vs-sidebar
      right
      v-model="active"
      :open="activeSidebar"
      style="border-radius: 0px"
    >
      <template #logo>
        <img
          :src="require('../images/logo.png')"
          alt="logo"
          style="max-height: 60px"
          @click="activeSidebar = !activeSidebar"
        />
        <ul class="">
          <li><i class="fas fa-shopping-cart"></i></li>
          <li><i class="fas fa-cog"></i></li>
          <li>
            <a href="javascript:;" title="تسجيل الخروج" @click="logout">

            <i class="el-icon-lock"></i>
            </a>
            </li>
        </ul>
      </template>
      <button class="back" @click="show = !show">
        <div class="arrowIcon">
          <i class="fas fa-chevron-right"></i>
        </div>
        فواتير
      </button>
      <div class="fatura" v-if="!show">
        <span @click="goTo('/sales')">
          <vs-sidebar-item :class="isActive('NewSale') ? 'active' : ''">
            <!-- <vs-sidebar-item id="sales" :class="$route.name=='NewSale'?'active':''" > -->

            فاتوره مبيعات
          </vs-sidebar-item>
        </span>
        <span @click="goTo('/purchases')">
          <vs-sidebar-item :class="isActive('NewPurchase') ? 'active' : ''">
            فاتوره شراء
          </vs-sidebar-item>
        </span>

        <span @click="goTo('/sales/return')">
          <vs-sidebar-item :class="isActive('ReturnSale') ? 'active' : ''">
            مرتجع مبيعات
          </vs-sidebar-item>
        </span>

        <span @click="goTo('/purchases/return')">
          <vs-sidebar-item :class="isActive('ReturnPurchase') ? 'active' : ''">
            مرتجع مشتريات
          </vs-sidebar-item>
        </span>
        <span @click="goTo('/customers/payment')">
          <vs-sidebar-item :class="isActive('CustomerPayment') ? 'active' : ''">
            تحصيل من العملاء
          </vs-sidebar-item>
        </span>
        <span @click="goTo('/suppliers/payment')">
          <vs-sidebar-item :class="isActive('SupplierPayment') ? 'active' : ''">
            سداد الى الموردين
          </vs-sidebar-item>
        </span>
      </div>
      <div class="content" v-if="show">
        <el-row type="flex" class="row-bg" justify="center" :gutter="20">
          <el-col :span="11"
            ><div class="grid-content">
              <router-link target="_blank" to="/" class="card bg-blue">
                <vs-sidebar-item class="bg-blue"> تقارير </vs-sidebar-item>
              </router-link>
            </div></el-col
          >
          <el-col :span="11"
            ><div class="grid-content" @click="show = !show">
              <vs-sidebar-item class="bg-blueLight">فواتير </vs-sidebar-item>
            </div></el-col
          >
        </el-row>
        <el-row type="flex" class="row-bg" justify="center" :gutter="20">
          <el-col :span="11"
            ><div class="grid-content">
              <vs-sidebar-item class="bg-purple">
                تحصيل <br />
                و سداد
              </vs-sidebar-item>
            </div></el-col
          >
          <el-col :span="11"
            ><div class="grid-content">
              <vs-sidebar-item class="bg-gray">
                كشف <br />
                حساب
              </vs-sidebar-item>
            </div></el-col
          >
        </el-row>
        <el-row type="flex" class="row-bg" justify="center" :gutter="20">
          <el-col :span="11"
            ><div class="grid-content">
              <vs-sidebar-item class="bg-pink">
                حركة <br />
                منتجات
              </vs-sidebar-item>
            </div></el-col
          >
          <el-col :span="11"
            ><div class="grid-content">
              <vs-sidebar-item class="bg-green">مصاريف </vs-sidebar-item>
            </div></el-col
          >
        </el-row>
        <el-row type="flex" class="row-bg" justify="center" :gutter="20">
          <el-col :span="11"
            ><div class="grid-content">
              <vs-sidebar-item class="bg-greenLight">
                تسليم <br />
                خزنة
              </vs-sidebar-item>
            </div></el-col
          >
          <el-col :span="11"
            ><div class="grid-content">
              <vs-sidebar-item class="bg-greenDark">إضافه </vs-sidebar-item>
            </div></el-col
          >
        </el-row>
      </div>
    </vs-sidebar></el-aside
  >
</template>

<script>
export default {
  name: "Home",
  data: () => ({
    active: "sales",
    ind: 0,
    show: false,
    activeSidebar: true,
  }),
  created() {
    // alert(this.$route.name);
  },
  methods: {
    isActive(routerName) {
      if (this.$route.name == routerName) {
        return true;
      } else {
        return false;
      }
    },
    goTo(routerName) {
      this.$router.push({ path: routerName });
    },
    logout(){

 this.$confirm("هل تريد تسجيل الخروج ؟", "تحذير", {
        confirmButtonText: "موافق",
        cancelButtonText: "رفض",
        type: "warning",
        center: true,
      })
        .then(() => {
           localStorage.removeItem('token');
           localStorage.removeItem('user');
      this.goTo('Login')
          this.$message({
            type: "success",
            message: "تم تسجيل الخروج بنجاح",
          });
        })
        .catch(() => {
          // this.$message({
          //   type: 'info',
          //   message: 'تم إلغاء'
          // });
        });
    
    }
  },
};
</script>
<style lang="sass" >
@import "../styles/aside.scss"
</style>
