<template>
  <div id="app">
    <router-view dir="rtl" />
  </div>
</template>
<script>
export default {
   beforeRouteEnter(to, from, next){
    if (localStorage.getItem('token')){
      next({name: "NewSale"})
    }else{
       next({name: "Login"})
    }
  },
}
</script>
<style>
.el-table td, .el-table th {
padding: 2px 0  !important;
}
@font-face {
  font-family: "Cairo";
  src: url("./assets/fonts/din-next-regular.ttf");
}
@font-face {
  font-family: "din-bold";
  src: url("./assets/fonts/din-next-bold.ttf");
}

*{
  font-family: 'Cairo';
}
</style>