<template>
    <div class="login float-right">
        <el-row :gutter="20">
  <el-col :span="12" :offset="6">
       <el-card shadow="hover">
        <div slot="header" class="clearfix">
    <span>تسجيل الدخول</span>
  </div>
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-position="top" label-width="120px" class="demo-ruleForm">
 
  <el-form-item label="اسم المستخدم" prop="name">
    <el-input type="text" autofocus @keyup.enter.native="$refs.password.focus()" v-model="ruleForm.name" autocomplete="off"></el-input>
  </el-form-item>
   <el-form-item label="كلمة المرور" prop="password">
    <el-input type="password" ref="password" :show-password="true" 
                          @keyup.enter.native="submitForm('ruleForm')"
      v-model="ruleForm.password" autocomplete="off"></el-input>
  </el-form-item>
 
  <el-form-item>
    <el-button type="warning" @click="submitForm('ruleForm')">تسجيل الدخول</el-button>
    <!-- <el-button @click="resetForm('ruleForm')">Reset</el-button> -->
  </el-form-item>
</el-form>
    </el-card>
        
  </el-col>
</el-row>
    </div>
</template>
<script>
import axiosApi from "@/plugins/axios.js";

  export default {
    data() {
     
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the password'));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.ruleForm.validateField('checkPass');
          }
          callback();
        }
      };
      var validateName = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the Name'));
        } else {
          callback();
        }
      };
      return {
        true:true,
        ruleForm: {
          name: '',
          password: '',
        },
        rules: {
          password: [
            { validator: validatePass, trigger: 'blur' }
          ],
          name: [
            { validator: validateName, trigger: 'blur' }
          ],
          
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
           this.login();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      login(){
      const loading = this.$vs.loading();
      axiosApi.post('auth/login', this.ruleForm).then(res => {
        localStorage.setItem("user", JSON.stringify(res.data.user));
        localStorage.setItem('token', res.data.access_token);
        this.$notify({
              title:   `${res.data.user.name} مرحبا`,
              message: "تم الدخول إلى السيستم بنجاح",
              type: "success",
              duration: 1500,
            });
        if(localStorage.getItem('token')){
          this.$router.push('/sales');
        }
      }).catch((error) => {
        if(error.response && error.response.status === 401){
         this.$notify.error({
              title: "حدث خطأ",
              message: "عفوا تأكد من بيانات المستخدم",
              duration: 1500,
            });
        }else{
           this.$notify.error({
              title: "حدث خطأ",
              message: "عفوا تأكد من اتصال الانترنت",
              duration: 1500,
            });
        }

        

      }).finally(() => loading.close());
    
    }

    }
  }
</script>